<% if params[:category] %>
    <%= render partial_helper(params[:category],'new') %>
<% else %>
    <p> Choose category: </p>
    <ul>
      <% @categories.each do |elem| %>
          <li> <%= link_to elem.name , new_item_path + "?category=#{elem.name}"%> </li>
      <% end %>
    </ul>
<% end %>



