<table width="40%" border="1px">
  <thead align="middle"><b>Administrators list</b> </thead>
  <tr>
    <th width="20%">Login</th>
    <th width="20%">Name</th>
  </tr>
<% @users.each do |user| %>
    <tr>
      <td align="middle"><%= link_to user.login, admin_path(user) %></td>
      <td align="middle"><%= user.name %></td>
    </tr>
<% end %>
</table>
<%= will_paginate @users %>
<br>