<h2>Good day!</h2>
<p>You're hear it means that Snowboarding is your flow! so are our. Enjoy!</p>
<p>We have met before? -> <%= link_to 'Sign in' , '/signin' %> </p>
<p>First time here? -> <%= link_to 'Sign in' , '/signup' %> </p>
<p><strong>Don't forget: For purchasing you have to sign in.</strong></p>